body{
    text-align: center;
    background: #272125;
    font-family: 'Roboto', sans-serif;
}

#titleBanner{
    background-color: #cc5200;
    height: 50px;
    font-size: 40px;
}
#tagLine{
    font-size: 18px;
}

#mainArea{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    position: relative;
    overflow: hidden;
    border: 4px solid grey;
    border-radius: 20px;
    position: fixed;
    top: 40%;
    right: 25%;
    left: 25%;
    margin-top: -50px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h2 {
    color: #cc5200;
    margin-left:12px;
}

#searchForm {
    position:relative;
    margin: 130px auto;
    margin-bottom: 0px;
    width: 580px;
    height: auto;
}

.search {
    padding: 16px;
    border-radius:7px;
    border:0px;
    /*background: rgba(255,255,255,.2);*/
    display: block;
    margin: 15px;
    width: 450px;
    color:black;
    font-size:18px;
    height: 54px;
   
}

.search:focus {
    outline-color: rgba(0,0,0,0);
    background: rgba(255,255,255,.95);
    color: #e74c3c;
}


button {
    float:right;
    height: 54px;
    width: 100px;
    border: 0px;
    background: #cc5200;
    border-radius:7px;
    padding: 10px;
    color:white;
    font-size:22px;
    cursor: pointer;
    
    
}

button:hover{
    background-color: rgba(255,255,255,.2);
}


input::-webkit-input-placeholder {
    color: black;
}

input:focus::-webkit-input-placeholder {
    color: #e74c3c;
}

#searchInDiv{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#searchInDiv fieldset{
        border-radius: 8px;
}


.prodDisplay{
	float:left;
	
    text-align:center;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin:20px;
    min-height: 20px;
    padding: 19px;
    height: 250px;
    width: 250px;
}

.dealProdDisplay ,.dealProdDisplayAmazon{
    float:left;
    text-align:center;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin:10px;
    min-height: 20px;
    padding: 19px;
    height: 150px;
    width: 150px;
}

#ebayDeals,#amazonDeals{
    border-radius: 5px;
    width: 870px;
    height: 169px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
}
.dealProdDisplayAmazon{
    height: 60px;
    width: 260px; 
    
}


#ebayDealsLogo, #amazonDealsLogo{
    height: 45px;
    padding: 5px;
}

.logoDiv{
    margin-top:20px;
    width:200px;
    margin-left:auto;
    margin-right: auto;
    background-color: #404040;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.prodImage{
	background:white;
    border: 1px solid #ccc;
    height: 150px;
    margin: 0 auto;
    padding: 5px;
    width: 150px;
    cursor:pointer;
    
}
.dealProdImage{
    background:white;
    border: 1px solid #ccc;
    height: 70px;
    margin: 0 auto;
    padding: 5px;
    width: 70px;
    cursor:pointer;
}
.myComparisonTable{
    background-color: #f5f5f5;margin-left:auto;margin-right:auto;margin-:10px;
    width:700px;
}
.compName{
    margin:10px;
    
}



.prodTitle {
	height: 52px;
    overflow: hidden;
}

.dealProdTitle{
    height: 36px;
    overflow: hidden;
    font-size: 11px;
}

.prodPrice{
	margin-top: 5px;
}


#displayPane{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.prodId{
	display:none;
}

.selectedItems{
	position: relative !important;
    	left: 56px !important;
    	top: -120px !important;
}

#resultsDiv{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

.siteLogo{
    height: 15px;
    position: relative;
    top: -255px;
    left: -100px;
}

.wishListIcon{
    position: relative;
    top: -50px;
    left: 110px;
    cursor: pointer;
}

.productDiv{
    text-align: center;
    width:300px;
    padding: 19px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 20px;
    float:left;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc5200;
    border-radius: 7px;
    border: 0px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#navul li {
    float: left;
}

#navul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 7px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    border: 0px;
    cursor: pointer;
}

#navul li a:hover, #loginButton:hover {
    background-color: rgba(255,255,255,.2);
    
}

#PWtitle{
    text-align: center;
    padding:10px;
    height:60px;
    background-color: #D95700;
    border-radius: 7px;
    margin-right:10px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    border: 0px
}
#navBar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999999999;
    opacity:.97;
}
#PWname{
    font-size:40px;
    color:white;
}

#loginDiv,#changePassword{
    float:right;
    padding: 6px;
    margin-right: 5%;
    overflow: hidden;
    background-color: #C04D00;
    border-radius: 7px;
    border: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 215px;
    height: 100px;
    text-align: center;
    }
    
.comparisonTD{
    max-width:308px;
}

.addedToComparison{
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px -2px 6px #823501;
}

.login{
    padding: 5px;
    border-radius: 5px;
    border-width: 0px;
    
}
#loginButton{
    float:none;
    height: 25px;
    font-size: 13px;
    padding: 0px;
    width: 70px;
    margin-top: 5px;
    border-radius: 5px;
    background: #DF5A00;
}


#compareProductsButton{
    height: 40px;
    padding: 5px;
    font-size: 15px;
    margin-right: 15px;
    display:none;
}

#comparisonDiv,#wishlistDiv,#MyComparisonsDiv{
    position: relative;
    top: -196px;
    width: 100%;
    background-color: #33312F;
    padding: 20px;
    border: 0px;
    border-radius: 7px;
    height:100%;
}

#registrationDiv{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width:500px;
    height:450px;
    background:#f5f5f5;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
}

#registrationDiv input{
        width: 333px;
    padding: 5px;
    border-radius: 5px;
    border-width: 3px;
    margin: 10px;
    height: 40px;
}

#registerButton{
    height: 40px;
    width: 160px;
    border: 0px;
    background: #cc5200;
    border-radius: 7px;
    padding: 6px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    float: left;
    margin-left: 170px;
}

#registerButton:hover{
    background:#FF6600;
}

#registrationError{
    color:red;
    margin-top: 60px;
}
#chart{
    text-align:-webkit-center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -842px;
    width: 100%;
    background-color: #33312F;
    padding: 20px;
    border: 0px;
    border-radius: 7px;
    height: 100%;
    opacity: 0.97;
}
#chart_div{
    margin-top:30px;
    

}

#pagination{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    background-color: rgb(217, 87, 0);
    width: 120px;
    height: 40px;
    padding: 9px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-right:10px;
    margin-bottom:10px;
}

.clickable{
    cursor: pointer;
}